* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: aliceblue;
}

#timer {
    padding: 15px;
    font-size: 20px;
    text-align:right; 
}

#scores {
    padding: 15px;
    font-size: 20px;
    text-align:right;
    color: blueviolet;
}

#start-page {
    text-align: center;
    margin: 30px;
    padding: 30px;
    font-size: 25px;
}

#title {
    margin: 30px;;
}

#start-button {
    font-size: 30px;
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    background-color: lightblue;
}

.questions {
    text-align: center;
    margin: 0px;
    font-size: 20px;
    padding:0px;
}

.answer-button {
    padding: 20px;
    width: 100%;
    border: 0px;
    font-size: 25px;
    text-align: center;
    
}

.answer-button:hover {
    background-color:lightblue;
}

#end-page {
    font-size: 25px;
    padding: 30px;
    text-align: center;
}

#submit-button {
    font-size: 20px;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
}

#input-bar {
    padding: 5px;
    border-radius: 5px;
}