*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

body {

}

#timer {
    padding: 0px;
    font-size: xx-large;
    width: 10vw;
    height: 20vh;
}

.start-btn {
    font-size: xx-large;
    padding: 10px;
    display: flex;
    justify-content: center;
}


#intro {
    font-size: x-large;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#start {
    color: white;
    background-color:darkblue;
    border-radius: 10px; 
    padding: 10px;
    border-color: darkblue;
}